<a href="https://colab.research.google.com/github/docladuyquang/bai-tap-6/blob/main/Copy_of_bai_tap_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TUPLE

In [ ]:
#1
number = ("0", "5","10","0")
print(number[1])

5

In [ ]:
#2
(easy,medium,*hard) = number
print(easy)
print(medium)
print(hard)

0
5
['10', '0']

In [ ]:
#3
new_number = ("15")
number = number + (new_number,)
print(number)

('0', '5', '10', '0', '15')

In [ ]:
#4
index = number.index("5")
print(index)

1

In [ ]:
#5
count = number.count("0")
print(count)

2

# SET

In [ ]:
#1
num = {50, 15, 67, 34, 22, 120, -1}
print(f"Giá trị lớn nhất: {max(num)}")
print(f"Giá trị bé nhất: {min(num)}")

Giá trị lớn nhất: 120
Giá trị bé nhất: -1

In [ ]:
#2
print(f"Set: {num}")
search_value = "57"
if search_value in num:
    print(f"'{search_value}' có trong tập hợp num")
else:
    print(f"'{search_value}' không có trong tập hợp num")

Set: {34, 67, 50, 22, 120, -1, 15}
'57' không có trong tập hợp num

In [ ]:
#3
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}
set3 = {4, 5, 6}

if set1.isdisjoint(set2):
    print("Set1 và Set2 không có phần tử chung")
else:
    print("Set1 và Set2 có phần tử chung")

if set1.isdisjoint(set3):
    print("Set1 và Set3 không có phần tử chung")
else:
    print("Set1 và Set3 có phần tử chung")

Set1 và Set2 không có phần tử chung
Set1 và Set3 có phần tử chung

In [ ]:
#4
fruit = ["apple", "banana", "apple", "orange", "apple", "grapes", "banana", "lemon"]
unique_words = set(fruit)
print(f"Unique words: {unique_words}")

word_frequency = {}
for word in fruit:
    if word in word_frequency:
        word_frequency[word] += 1
    else:
        word_frequency[word] = 1

print("Word frequencies:")
for word, count in word_frequency.items():
    print(f"  {word}: {count}")

Unique words: {'apple', 'orange', 'grapes', 'banana', 'lemon'}
Word frequencies:
  apple: 3
  banana: 2
  orange: 1
  grapes: 1
  lemon: 1

In [ ]:
#5
set_a = {1, 2, 3, 4, 5, 6, 7, 8, 9}
set_b = {2, 4, 6, 8, 10, 12}

missing_in_b = set_a - set_b
print(f"Các phần tử trong A nhưng không có trong B: {missing_in_b}")

missing_in_a = set_b - set_a
print(f"Các phần tử trong B nhưng không có trong A: {missing_in_a}")

Các phần tử trong A nhưng không có trong B: {1, 3, 5, 7, 9}
Các phần tử trong B nhưng không có trong A: {10, 12}

# DICT

In [ ]:
#1
animals = ['dog', 'cat', 'chicken']
fruit = ['banana', 'pinenaple', 'pearl']
result_dict = dict(zip(animals, fruit))
print(f"Animals: {animals}")
print(f"Fruit: {fruit}")
print(f"Dictionary: {result_dict}")

Animals: ['dog', 'cat', 'chicken']
Fruit: ['banana', 'pinenaple', 'pearl']
Dictionary: {'dog': 'banana', 'cat': 'pinenaple', 'chicken': 'pearl'}

In [12]:
#2
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'d': 4, 'e': 5, 'b': 6}

merged_dict1 = dict1.copy()
merged_dict1.update(dict2)
print("dict3 :", merged_dict1)

dict3 : {'a': 1, 'b': 6, 'c': 3, 'd': 4, 'e': 5}

In [13]:
#3
a_dict = {
    'class': {
        'student': {
            'name': 'Mike',
            'marks': {
                'physics': 70,
                'history': 80
            }
        }
    }
}
print("Sample dictionary:", a_dict)

Sample dictionary: {'class': {'student': {'name': 'Mike', 'marks': {'physics': 70, 'history': 80}}}}

In [18]:
#4
word = ['quang', 'quan', 'qua', 'qu', 'q']
default_value = "Not Provided"
result = dict.fromkeys(word, default_value)
print("Dictionary with default values:", result)

Dictionary with default values: {'quang': 'Not Provided', 'quan': 'Not Provided', 'qua': 'Not Provided', 'qu': 'Not Provided', 'q': 'Not Provided'}

In [35]:
#5
a_dict = {
    'name': 'duy quang',
    'age': 20,
    'gmail': 'duyq30976@gmail.com',
    'address': 'Lam Dong'
  }
print("Original dictionary:", a_dict)
keys_to_extract = ['name', 'gmail']
extracted_dict = {k: a_dict[k] for k in keys_to_extract if k in a_dict}
print("Extracted dictionary:", extracted_dict)

Original dictionary: {'name': 'duy quang', 'age': 20, 'gmail': 'duyq30976@gmail.com', 'address': 'Lam Dong'}
Extracted dictionary: {'name': 'duy quang', 'gmail': 'duyq30976@gmail.com'}

In [36]:
#6
a_dict = {
   'name': 'duy quang',
    'age': 20,
    'gmail': 'duyq30976@gmail.com',
    'address': 'Lam Dong'
}
print("Original dictionary:", a_dict)

keys_to_delete = ['gmail','address']

result_dict = a_dict.copy()
for key in keys_to_delete:
    if key in result_dict:
        del result_dict[key]

print("Dictionary after deleting keys:", result_dict)

Original dictionary: {'name': 'duy quang', 'age': 20, 'gmail': 'duyq30976@gmail.com', 'address': 'Lam Dong'}
Dictionary after deleting keys: {'name': 'duy quang', 'age': 20}

In [37]:
#7
sample_dict = {
    'name': 'John Doe',
    'age': 30,
    'city': 'New York',
    'email': 'john@example.com'
}
print("Dictionary:", sample_dict)

# Values to check
values_to_check = ['John Doe', 'Chicago', 30]

for value in values_to_check:
    if value in sample_dict.values():
        print(f"Value '{value}' exists in the dictionary")
    else:
        print(f"Value '{value}' does not exist in the dictionary")

Dictionary: {'name': 'John Doe', 'age': 30, 'city': 'New York', 'email': 'john@example.com'}
Value 'John Doe' exists in the dictionary
Value 'Chicago' does not exist in the dictionary
Value '30' exists in the dictionary

In [40]:
#8
sample_dict = {
    'name': 'John Doe',
    'age': 30,
    'city': 'New York',
    'email': 'john@example.com'
}
print("Original dictionary:", sample_dict)

# Renaming 'city' to 'location'
if 'city' in sample_dict:
    sample_dict['location'] = sample_dict.pop('city')

print("Dictionary after renaming key:", sample_dict)

Original dictionary: {'name': 'John Doe', 'age': 30, 'city': 'New York', 'email': 'john@example.com'}
Dictionary after renaming key: {'name': 'John Doe', 'age': 30, 'email': 'john@example.com', 'location': 'New York'}

In [39]:
#9
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'History': 75,
    'English': 68,
    'Chemistry': 90,
    'Biology': 72
}
print("Dictionary:", sample_dict)


min_key = min(sample_dict, key=sample_dict.get)
min_value = sample_dict[min_key]

print(f"Key with minimum value: '{min_key}' with value {min_value}")

Dictionary: {'Physics': 82, 'Math': 65, 'History': 75, 'English': 68, 'Chemistry': 90, 'Biology': 72}
Key with minimum value: 'Math' with value 65

In [46]:
#10
nested_dict = {
    'user': {
        'profile': {
            'personal': {
                'name': 'John Doe',
                'age': 30
            },
            'professional': {
                'job': 'Developer',
                'experience': '5 years'
            }
        }
    }
}
print("Original nested dictionary:", nested_dict)

nested_dict['user']['profile']['professional']['job'] = 'Senior Developer'

print("Nested dictionary after changing value:", nested_dict)

Original nested dictionary: {'user': {'profile': {'personal': {'name': 'John Doe', 'age': 30}, 'professional': {'job': 'Developer', 'experience': '5 years'}}}}
Nested dictionary after changing value: {'user': {'profile': {'personal': {'name': 'John Doe', 'age': 30}, 'professional': {'job': 'Senior Developer', 'experience': '5 years'}}}}

In [47]:
#11
text = "Python is an interpreted, high-level, general-purpose programming language. Its design philosophy emphasizes code readability with its use of significant whitespace."
print("Text paragraph:", text)

char_count = {}
for char in text:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

print("Character frequency (first 10 items):")
for char, count in list(sorted(char_count.items()))[:10]:
    print(f"'{char}': {count}")

Text paragraph: Python is an interpreted, high-level, general-purpose programming language. Its design philosophy emphasizes code readability with its use of significant whitespace.
Character frequency (first 10 items):
' ': 19
',': 2
'-': 2
'.': 2
'I': 1
'P': 1
'a': 10
'b': 1
'c': 3
'd': 4

In [48]:
#12
def is_prime(n):
    """Check if a number is prime"""
    if n <= 1:
        return False
    if n <= 3:
        return True
    if n % 2 == 0 or n % 3 == 0:
        return False
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True

def prime_numbers_dict(n):
    """Create dictionary with keys starting from 1 and values as prime numbers less than n"""
    result = {}
    key = 1
    for num in range(2, n):
        if is_prime(num):
            result[key] = num
            key += 1
    return result

N = 50
prime_dict = prime_numbers_dict(N)
print(f"Dictionary of prime numbers less than {N}:")
print(prime_dict)

Dictionary of prime numbers less than 50:
{1: 2, 2: 3, 3: 5, 4: 7, 5: 11, 6: 13, 7: 17, 8: 19, 9: 23, 10: 29, 11: 31, 12: 37, 13: 41, 14: 43, 15: 47}

# Restructuring the company data

In [50]:
employees = {
    'emp1': {'name': 'John', 'department': 'HR', 'salary': 50000},
    'emp2': {'name': 'Jane', 'department': 'IT', 'salary': 60000},
    'emp3': {'name': 'Bob', 'department': 'IT', 'salary': 55000},
    'emp4': {'name': 'Alice', 'department': 'HR', 'salary': 65000},
    'emp5': {'name': 'Mike', 'department': 'Finance', 'salary': 70000},
    'emp6': {'name': 'Sarah', 'department': 'Finance', 'salary': 62000},
    'emp7': {'name': 'Tom', 'department': 'IT', 'salary': 58000}
}
print("Original employee dictionary:")
for emp_id, details in employees.items():
    print(f"{emp_id}: {details}")

dept_employees = {}
for emp_id, emp_data in employees.items():
    department = emp_data['department']
    name = emp_data['name']
    salary = emp_data['salary']

    if department not in dept_employees:
        dept_employees[department] = {}

    dept_employees[department][name] = salary

print("\nRestructured dictionary by department:")
for dept, emp_data in dept_employees.items():
    print(f"{dept}: {emp_data}")

Original employee dictionary:
emp1: {'name': 'John', 'department': 'HR', 'salary': 50000}
emp2: {'name': 'Jane', 'department': 'IT', 'salary': 60000}
emp3: {'name': 'Bob', 'department': 'IT', 'salary': 55000}
emp4: {'name': 'Alice', 'department': 'HR', 'salary': 65000}
emp5: {'name': 'Mike', 'department': 'Finance', 'salary': 70000}
emp6: {'name': 'Sarah', 'department': 'Finance', 'salary': 62000}
emp7: {'name': 'Tom', 'department': 'IT', 'salary': 58000}

Restructured dictionary by department:
HR: {'John': 50000, 'Alice': 65000}
IT: {'Jane': 60000, 'Bob': 55000, 'Tom': 58000}
Finance: {'Mike': 70000, 'Sarah': 62000}